# IntelliJ
.idea/
*.iml
*.ipr

# Java
*.class
*.log
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*

# Gradle
.gradle/
build/
**/build/
!src/**/build/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties

# Minecraft / Fabric specific
run/
logs/
remappedSrc/
.cache/

# Eclipse
.project
.classpath
.settings/
bin/

# BlueJ
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/
